# @package _global_

# Be careful when using _raw, history
obs:
  obs_dict:
    actor_obs: [
      base_pos_z,
      feet_contact_force,
      base_lin_vel,
      base_ang_vel,
      projected_gravity,
      dof_pos,
      dof_vel,
      actions,
      # ref_motion_phase,
      actions_open_loop,
      # dif_local_rigid_body_pos,
      # local_ref_rigid_body_pos,
      # history,
    ]

    critic_obs: [
      base_pos_z,
      feet_contact_force,
      base_lin_vel,
      base_ang_vel,
      projected_gravity,
      dof_pos,
      dof_vel,
      actions,
      # ref_motion_phase, # removed this phase from critic to make delta_a function more general
      dif_local_rigid_body_pos,
      local_ref_rigid_body_pos,
      actions_open_loop,
    ]
  obs_auxiliary: # define those coumpounds in obs_dict, for example, you can define different long/short history with different length
    history: {
      dof_pos: 5,
      dof_vel: 5,
      actions: 5,
    }

  obs_scales: {
    base_pos_z: 1.0,
    feet_contact_force: 0.01,
    base_lin_vel: 2.0,
    base_ang_vel: 0.25,
    projected_gravity: 1.0,
    dof_pos: 1.0,
    dof_vel: 0.05,
    history: 1.0,
    actions: 1.0,
    dif_local_rigid_body_pos: 1.0,
    local_ref_rigid_body_pos: 1.0,
    ref_motion_phase: 1.0,
    actions_open_loop: 1.0,
  }

  add_noise_currculum: False
  noise_initial_value: 0.05
  noise_value_max: 1.25
  noise_value_min: 0.00001
  soft_dof_pos_curriculum_degree: 0.00001
  soft_dof_pos_curriculum_level_down_threshold: 40
  soft_dof_pos_curriculum_level_up_threshold: 42


  noise_scales: {
    base_pos_z: 1.0,
    feet_contact_force: 0.01,
    base_lin_vel: 0.0,
    base_ang_vel: 0.0,
    projected_gravity: 0.0,
    dof_pos: 0.0,
    dof_vel: 0.0,
    actions: 0.0,
    history: 0.0,
    dif_local_rigid_body_pos: 0.0,
    local_ref_rigid_body_pos: 0.0,
    ref_motion_phase: 0.0,
    actions_open_loop: 0.0,
  }

  obs_dims:
    - base_pos_z: 1
    - feet_contact_force: ${eval:'3 * ${robot.num_feet}'} 
    - base_lin_vel: 3
    - base_ang_vel: 3
    - projected_gravity: 3
    - dof_pos: ${robot.dof_obs_size}
    - dof_vel: ${robot.dof_obs_size}
    - actions: ${robot.dof_obs_size}
    - dif_local_rigid_body_pos: ${eval:'3 * ${robot.num_bodies} + 9'} # hardcoded for 3 extended body
    - local_ref_rigid_body_pos: ${eval:'3 * ${robot.num_bodies} + 9'}
    - ref_motion_phase: 1
    - actions_open_loop: ${robot.dof_obs_size}

  post_compute_config: {} # Will store values after preprocessing, don't put anything here